@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans&display=swap');

* {box-sizing: border-box;}

:root {
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

html body {
  font-size: 93.75%;
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  overflow-x: hidden;
  background-color: var(--off-white);
}

.fixed {
  position: fixed;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  height: 100dvh;
  transition: all 1s ease-in;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
}

.closed {
  display: none;
}

.opened {
  display: none;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  width: 13%;
}

.menu-button,
.close-button {
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: .5rem;
  transform: translateY(-10vh);
  z-index: 2;
}

.close-button:hover {
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}

@keyframes slide-in {
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(0%)
  }
}

.nav-list {
  display: none;
  position: absolute;
  background-color: var(--off-white);
  padding: 1.5rem;
  right: 0;
  top: 0;
  width: 14rem;
  height: 100dvh;
  transform: translateX(100%);
}

.nav__items {
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;

  font-size: 1rem;
}

li:is(:hover, :focus) {
  cursor: pointer;
  color: var(--soft-red);
}
/* INTRO STYLES */

.intro {
  --intro-margin: 1.5rem 0;
}

.intro__img--mobile {
  margin: var(--intro-margin);
}

.intro__img--desktop {
  display: none;
}

.intro__heading {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.intro__desc {
  color: var(--dark-grayish-blue);
  font-size: clamp(0.9rem, 5vw, 1rem);
  line-height: 1.5;
  margin: 1.2rem 0;
}

.intro__button {
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: .65rem;
  width: 8.5rem;

  font-size: clamp(.8rem, 1vw, 1rem);
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 4px;
}

.intro__button:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

/* NEW SECTION STYLES */

.new {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 1.5rem;
  margin: 2.5rem 0;
}

.new__heading {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: var(--soft-orange);
  padding-bottom: 1.5rem;
}

.new__subheading {
  width: max-content;
  margin-bottom: .5rem;
}

.new__subheading:is(:hover, :focus) {
  cursor: pointer;
  color: var(--soft-orange);
}

.new__desc {
  color: var(--grayish-blue);
  font-size: clamp(.8rem, 5vw, 1rem);
  line-height: 1.5;
}

hr {
  margin: 1.5rem 0;
}

/* ARTICLE STYLES */

.articles {
  display: grid;
  gap: 1.5rem;
}

.article__grid {
  display: grid;
  grid-template: auto / 30% auto;
  gap: 0 1.5rem;
}

.article__img {
  grid-row: 1 / span 3;
}

.article__title,
.article__number,
.article__desc {
  grid-column: 2;
}

.article__number {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--grayish-blue);
}

.article__title:is(:hover, :focus) {
  cursor: pointer;
  color: var(--soft-red);
}

.article__desc {
  color: var(--dark-grayish-blue);
  font-size: clamp(.9rem, 5vw, .95rem);
  line-height: 1.5;
}

body footer {
  margin-top: 3rem;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: var(--soft-red); 
}

.attribution a:is(:hover, :focus) {
  color: var(--very-dark-blue );
}

@media only screen and (width >= 900px) {
  html body {
    max-width: 77rem;
    overflow-x: unset;
    margin: 0 auto;
  }

  main {
    display: grid;
    grid-template-areas: 
    "intro new"
    "article article";
    grid-template-columns: auto 1fr;
    gap: 3rem 2rem;
  }

  .menu-button,
  .close-button {
    display: none;
  }

  body header {
    display: flex;
    justify-content: space-between;
  }

  .header-items {
    margin-bottom: 4rem;
  }

  .nav-list {
    display: block;
    position: unset;
    transform: translateX(0%);
    height: auto;
    width: auto;
  }

  .nav__items {
    margin: 0;
    flex-direction: row;
  }

  .logo {
    width: 6em;
  }

  .intro {
    display: grid;
    grid-template: auto / auto auto;
    grid-template-areas: 
    "img img"
    "h1 content";
    grid-area: intro;
  }

  .intro__img--mobile {
    display: none;
  }

  .intro__img--desktop {
    display: block;
    margin-bottom: 1rem;
    grid-area: img;
  }

  .intro__button {
    padding: .8rem;
    width: 10rem;
  }
  

  .new {
    padding: 1.5rem;
    grid-area: new;
    margin: 0 auto;
  }

  .new__subheading {
    font-size: 1.3rem;
  }

  .articles {
    grid-template-columns: repeat(3, 1fr);
    grid-area: article;
    gap: 6.5rem;
  }
  

  .article__title {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}